@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* tak jak na poczatku wygladala wiec 0 */ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6rem); }
  80% {
    transform: translateX(-0.7rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* amimacje uzywamy zawsze, jak cos sie laduje na poczatku strony */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  /* robimy tez pseudoelementy zeby nic dziwnego sie nie zadzialo */
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* i tu mowimy ze kazdy element ma dziedziczyc property box-sizing, ktore w body ustawione jest tak jak ma byc */ }

html {
  font-size: 62.5%;
  /* w ten sposob wszystko gitarka */
  /* fs: 10px --> w ten sposob nie mozna zmienic sobie w przegladarce */ }

body {
  box-sizing: border-box;
  /* to nam pomaga w tym, ze nie dodajemy szerokosci i wysokosci do naszego elementu */ }

body {
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /* czyli bedzie 1.7 raza wieksza niz ta ustalona */
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    /* display block, zeby byly pod soba, bo span orginalnie jest inline */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out;
    /* animation-delay: 3s; */
    /* ile razy sie animacja powtorzy */
    /* animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn {
  /* pseudoklasa linku kiedy np hoverujemy albo checkbox is clicked, albo lastchild */
  /* uzwamy pseudoklas w specjalnych warunkach */
  /* link jest specjalnym stanem selektora gdy jest elementem zakotwiczajacym, wiec dziala jako lacze*/
  /* visited jak juz kliknal w przycik a potem go widzi ponownie */
  /* my chcemy zeby te dwa stany, czyli normalny link i ten po kliknieciu wygladaly tak samo */
  /* active, jak klikniemy */
  /* dodaje sie wirtualny element na ktorym go dodajemy i mozemy go stylowac */
  /* to jest po to zeby robic fajne efekty jak ten */
  /* dodajemy element ktory wyglada tak samo, ale dodajemy go za naszym przyciskiem behind */
  /* kiedy opuscimy hover on sobie tam wraca */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* jezeli chcemy dodac jakies paddingi, height, width to powinnismy zrobic display: inline-block */
    /* nasz tag a jest elementem inline, wiec jak dodamy padding rozszerzy sie nasze biale tlo
    i moze wejsc na napisy, a tego nie chcemy, wiec gdy damy mu inline block, odsunie sie bo jest elementem blokowym
    natomiast ale jego ramka zostanie tak szeroka jakby byl elementem inline
    w display: block, element zajal by cala szerokosc jego rodzica */
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.15rem);
    /* tutaj dajemy duzy blur 1.5rem, mowi o tym ze jestesmy dalej na stronie
        w active damy mniejszy, co pokaze ze jestesmy troche blizej na stronie */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      /* dajemy rozne skale w roznych kierunkach, bo w kierunku pionowym troszke byla za mala ta przerwa, wiec robimy ja troszke wieksza */
      transform: scale(1.4, 1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    /* musimy to dac */
    content: "";
    display: inline-block;
    /* taki sam jak nasz przycisk, a after traktowany jest jako dziecko naszego elementu */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* ustawiamy za przyciskiem*/
    /* dodajemy nasze position relative */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInTop .5s ease-in-out .75s;
    animation-fill-mode: backwards;
    /* automatycznie da style z 0% naszej animacji */ }

.btn-text {
  font-size: 1.6rem;
  color: #55c57a;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #55c57a;
  padding: 5px;
  cursor: pointer;
  transition: all .2s; }
  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.2rem); }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-0.1rem); }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      outline-offset: 2rem;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  width: 25%;
  border-radius: 1rem; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  height: 50rem;
  width: 30%;
  perspective: 1500px;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    font-size: 5rem;
    color: white;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  gap: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 6rem) / 2) + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 3 + 2 * 6rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* cover zawsze bedzie sie staral dopasowac maksymalnie do containera naszego */
  background-position: top;
  /* to robi ze niezaleznie od obszaru gora obrazu zawsze pozostaje na gorze naszego containera */
  /* bottom bedzie croped, a top zostaje taki sam */
  /* mozemy uzyc rowniez :bottom, :center */
  /* clip-path: polygon(x y, x y, x y, x y); */
  /* ruchem wskazowek zegara */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    /* width zostanie ustawiona automatycznie */ }
  .header__text-box {
    /* dodajemy nasze position relative */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top do rodzica, transform do siebie samego */
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -15vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem;
  margin-top: -12rem; }
