@mixin box-shadow {box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .15);}
@mixin center-hor-ver {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

//tworzymy mixina na mediaQuery
// 0 - 600: Phone
// 600 - 900: Tablet portrait mode
// 900 - 1200: Tablet landscape mode
// 1200 - 1800: NORMAL STYLES
// 1800+: BIG desktop

// $breakpoint argument choices
// phone
// tab-port
// tab-land
// big-desktop

// ORDER: base + typography > general layout + grid > page layout > components


@mixin respond ($breakpoint) {
        // nie robimy remami bo sie jebie
        // uzywamy wzglednej jednostki
        // rem and ems are not affected by root font-size
        // wiec 1rem in media query is always that one comming from the browser
        // czyli od usera def 16px ale moze se zmienic na 20np

        // uzwamy emow bo remy sie jebia

        // emy to najlepsza opcja dla media query

        // 1em = 16px
        @if $breakpoint == phone { @media only screen and (max-width: 37.5em) { @content }; }; //600px
        @if $breakpoint == tab-port { @media only screen and (max-width: 56.25em) { @content }; }; //900px
        @if $breakpoint == tab-land { @media only screen and (max-width: 75em) { @content }; }; //1200px
        @if $breakpoint == popup { @media only screen and (max-width: 87.5em) { @content }; }; //1400px in case for popup
        @if $breakpoint == big-desktop { @media only screen and (min-width: 112.5em) { @content }; }; //1800px
        // dodajemy only screen zeby bylo tylko na screenach
        // jak ktos bedzie chcial wydrukowac nasza strone to sie nie zastosuje to
}