.form {

    &__group {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        // to mi potrzebne do efektu ze sie width zwieksza na focusie inputu
        height: 5rem;
        position: relative;
    }

    &__input {
        font-family: inherit; //bo defaultowo nie daje tego przegladarka do inputow
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        background-color: rgba($color-white, $alpha: .5);
        border: none;
        // border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s ease;

        // TUTAJ FAJNIE JAK BYS ZMIENL ZE TEN PASEK NIE TAK SIE POJAWIA
        // TYLKO PRZECHODZI SOBIE OD LEWEJ DO PRAWEJ

        // done, tylko musialem ustawic ten input na height: 5rem bo inaczej jakis
        // on mial dziwny height nie wiem skad wychodzil poza

        @include respond(tab-port) {
            width: 100%;
        }

        &-border {
            bottom: 0;
            left: 0;
            position: absolute;
            width: 0;
            height: 3px;
            background-color: transparent;
            transition: all .3s ease;
        }

        //def styles
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .1);
            // border-bottom: 3px solid $color-primary;
        }

        //my styles
        &:focus + &-border {
            width: 90%;
            background-color: $color-primary;

            @include respond (tab-port) {
                width: 100%;
            }
        }

        //def styles
        &:focus:invalid {
            // border-bottom: 3px solid $color-secondary-dark;
        }

        //my styles
        &:focus:invalid + &-border{
                width: 90%;
                background-color: $color-secondary-dark;

                @include respond (tab-port) {
                    width: 100%;
                }
        }

        // pseudoelementy to to co jest na stronie, a pseudoklasy raczej odnosza sie do statow
        // np hover focus lastchild itd
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label {
        width: 90%;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s ease;
    }

    // nie zadziala bo label nie jest dzieckiem inputu
    // (no bo zeby se tak napisac .siema div, to div musi byc dzieckiem siemy nie)
    // sa rodzenstwem
    // &__input:placeholder-shown &__label {
    // &__input:placeholder-shown ~ &__label { to jest jezeli by bylo cos miedzy nimi jeszcze
    // jakis div czy cos
    // a to tu na dole jest gdy sa od razu po sobie
    // label musi byc po inpucie zeby zostalo wybrane
    &__input:placeholder-shown ~ &__label {
        opacity: 0;
        visibility: hidden; // dzieki temu on zniknie w ogole ze strony
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 45%;
        display: inline-block;

        @include respond (tab-port) {
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;

        &::after {
            content: '';
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s ease;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__radio-input {
        display: none;
    }
}