// specyfic style for out homepage, dlatego tutaj umieszczamy

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -15vh; // 95vh - 80vh

    @include respond (tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, .8), 
        rgba($color-primary-dark, .8)),
        url(../img/nat-4.jpg);
        background-size: cover; //covers entire section
        transform: skewY(-7deg);
        margin-top: -12rem;

        // zaznaczamy wszystko (*) co jest dzieckiem tej sekcji (&) czyli w naszym przypadku tylko "row"
        // taki selektor & * zaznaczyłby wszystkie dzieci dzieci naszej sekcji
        & > * {
            transform: skewY(7deg);
        }

        @include respond (tab-port) {
            padding: 15rem 0rem;
        } @include respond (tab-land) {
            padding: 15rem 1rem;
        }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem;
    margin-top: -12rem;

    @include respond (tab-port) {
        padding: 20rem 0 10rem;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond (tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond (tab-port) {
        padding: 10rem 0;
    }

    &__center {
        max-width: $grid-width;
        margin: 0 auto;

        @include respond (tab-land) {
            padding: 0 5rem;
        }
    }
}

.book {
    // robimy tak ze dodajemy na ten obrazek ten nasz fajny gradient
    // lepsze to jest o wiele niz robienie kolejnego elementu i robienie na nim clip pathu
    background-image:   linear-gradient(105deg,
                        rgba($color-white, .9) 0%,
                        rgba($color-white, .9) 50%,
                        transparent 50%),
                        url(../img/nat-10.jpg);
    background-size: cover; //to samo co cover, okupuje cala szarokosc tylko w kierunku osi X
    background-position: right;
    box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .2);

    // tylko dla testu, potem chcemy zeby content of the box to define height

    // unique dla tej page, wiec dlatego tutaj w home, natomiast caly form moze bedziemy chcieli
    // gdzies uzyc wiec to jest component

    @include respond (tab-land) {
        background-image: linear-gradient(105deg,
                        rgba($color-white, .9) 0%,
                        rgba($color-white, .9) 65%,
                        transparent 65%),
                url(../img/nat-10.jpg);

                background-size: cover; // a cover wszystko ladnie przykryje
    }

    @include respond (tab-port) {
        background-image: linear-gradient(to right,
                        rgba($color-white, .9) 0%,
                        rgba($color-white, .9) 100%),
                        url(../img/nat-10.jpg); 
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond (tab-land) {
            width: 65%;
        }

        @include respond (tab-port) {
            width: 100%;
        }
    }
}